:root{
    --bg: #222831;
    --lg: 'Bevan', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    

}

body{
    background: var(--bg);
}

    .contenedor{
        width: 100%;
        height: 100vh;
        margin: 12px auto;
        display: grid;
        grid-gap: 21px;
        justify-items: center;
        grid-template-columns: repeat(5,1fr);
    }
    
    .pokemon{
        width: 90%;
        height: 44vh;
        display: flex;
        border-radius: 1rem;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        border: solid 2px rgba(0, 0, 0, 0.75);
        box-shadow:  0px 0px 10px 6px rgba(0, 0, 0, 0.32);
    }
    
    .sprites{
        width: 90%;
        height: 65%;
        border-radius: 10%;
        background: #f1f1f1;
        max-width: 100%;
    }
    
    
    .numero{
        font-family: 'Libre Baskerville', serif;
        font-weight: normal;
        font-size: 19px;
    }
    
    .numero::before{
        content: '#';
    }
    
    .name{
        font-family: var(--lg);
        text-align: center;
    }
    
    .type__unico{
        font-family: var(--lg);
        font-size: 14px;
        margin-bottom: 12px;
    }
    

    .buscador{
        width: 100%;
        height: 9vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #4654;
    }
    .buscador__input{
        width: 50%;
        height: 5vh;
        padding: 10px;
        font-size: 15px;
        background: #333456;
        color: #E0DECA;
        letter-spacing: 1px;
        border: none;
        outline: none;
        font-family: var(--lg);
    }

    .buscador__icon{
        display: none;
        position: absolute;
    }

    .buscador__input::placeholder{
        color: #E1E5EA;
    }

    .buscador__btn{
        width: 10%;
        height: 5vh;
        border: none;
        cursor: pointer;
        color: #FAF3F3;
        background: #655D8A;
    }

.filter{
    display: none;
}

    @media screen and (max-width: 1024px) {

        .contenedor{
            grid-template-columns: repeat(5,1fr);
        }
        .pokemon{
            width: var(--ps);
        }
        .name{
            font-size: 18px;
        }
    }
    @media screen and (max-width: 768px) {

        .contenedor{
            grid-gap: 18px;
            grid-template-columns: repeat(4,1fr);
        }
        .pokemon{
            width: var(--ps);
        }
    }

@media screen and (max-width: 425px){
    .contenedor{
        grid-gap: 14px;
        grid-template-columns: repeat(3,1fr);
    }
    .name{
        font-size: 14px;
    }
    .type__unico{
        font-size: 11px;
    }
}






